h1 {
  @apply text-4xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
}

.slidev-vclick-target {
  transition:
    opacity 500ms ease,
    transform 350ms ease;
}

.slidev-vclick-hidden {
  transform: scale(0.95);
  opacity: 0;
}

ol {
  counter-reset: item;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
